<nav class="navbar navbar-expand-lg navbar-dark sticky-top ps-5 pe-5 pt-3 pb-3 mb-4 bg-dark">
    <div class="mb-0">
        <a class="navbar-brand text-white" href="/">
            <img class="d-inline-block align-items-center mb-2 square-40px" src="/media/images/company-logo.png">

            {{#if (eq page "/")}}
            Cebu Atlantic
            {{/if}}

        </a>
    </div>

    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#main-menu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="main-menu">
        <ul class="navbar-nav ms-auto">
            {{#if (eq role 'user')}}
                <li class="nav-item me-3 {{#if (eq page "/home")}}ps-3 ps-sm-3 ps-md-3 ps-lg-0 mt-3 mt-sm-3 mt-md-3 mt-lg-0 text-bg-primary-accent rounded-3{{/if}}">
                    <a class="nav-link fw-bold {{#if (eq page "/home")}}disabled text-light{{/if}}" {{#unless (eq page "/home")}}href="/home"{{/unless}}> Home </a>
                </li>

                <li class="nav-item me-3 {{#if (eq page "/flight-search")}}ps-3 ps-sm-3 ps-md-3 ps-lg-0 mt-3 mt-sm-3 mt-md-0 mt-lg-0 text-bg-primary-accent rounded-3{{/if}}">
                    <a class="nav-link fw-bold {{#if (eq page "/flight-search")}}disabled text-light{{/if}}" {{#unless (eq page "/flight-search")}}href="/flight-search"{{/unless}}> Search A Flight </a>
                </li>

                <li class="nav-item me-3 {{#if (eq page "/flight-book")}}ps-3 ps-sm-3 ps-md-3 ps-lg-0 mt-3 mt-sm-3 mt-md-0 mt-lg-0 text-bg-primary-accent rounded-3{{/if}}">
                    <a class="nav-link fw-bold {{#if (eq page "/flight-book")}}disabled text-light{{/if}}" {{#unless (eq page "/flight-book")}}href="/flight-book"{{/unless}}> Reserve A Flight </a>
                </li>

                <li class="nav-item me-3 {{#if (eq page "/my-reservations")}}ps-3 ps-sm-3 ps-md-3 ps-lg-0 mt-3 mt-sm-3 mt-md-0 mt-lg-0 text-bg-primary-accent rounded-3{{/if}}">
                    <a class="nav-link fw-bold {{#if (eq page "/my-reservations")}}disabled text-light{{/if}}" {{#unless (eq page "/my-reservations")}}href="/my-reservations"{{/unless}}> My Reservations </a>
                </li>

                <li class="nav-item me-3 {{#if (eq page "/profile")}}ps-3 ps-sm-3 ps-md-3 ps-lg-0 mt-3 mt-sm-3 mt-md-0 mt-lg-0 text-bg-primary-accent rounded-3{{/if}}">
                    <a class="nav-link fw-bold {{#if (eq page "/profile")}}disabled text-light{{/if}}" {{#unless (eq page "/profile")}}href="/profile"{{/unless}}> Profile </a>
                </li>
            {{else if (eq role 'admin')}}
                <li class="nav-item me-3 {{#if (eq page "/dashboard")}}ps-3 ps-sm-3 ps-md-3 ps-lg-0 mt-3 mt-sm-3 mt-md-3 mt-lg-0 text-bg-primary-accent rounded-3{{/if}}">
                    <a class="nav-link fw-bold {{#if (eq page "/dashboard")}}disabled text-light{{/if}}" {{#unless (eq page "/dashboard")}} href="/dashboard"{{/unless}}> Dashboard </a>
                </li>

                <li class="nav-item me-3 {{#if (eq page "/flights")}}ps-3 ps-sm-3 ps-md-3 ps-lg-0 mt-3 mt-sm-3 mt-md-0 mt-lg-0 text-bg-primary-accent rounded-3{{/if}}">
                    <a class="nav-link fw-bold {{#if (eq page "/flights")}}disabled text-light{{/if}}" {{#unless (eq page "/flights")}} href="/flights"{{/unless}}> Flight Management </a>
                </li>

                <li class="nav-item me-3 {{#if (eq page "/reservations")}}ps-3 ps-sm-3 ps-md-3 ps-lg-0 mt-3 mt-sm-3 mt-md-0 mt-lg-0 text-bg-primary-accent rounded-3{{/if}}">
                    <a class="nav-link fw-bold {{#if (eq page "/reservations")}}disabled text-light{{/if}}" {{#unless (eq page "/reservations")}} href="/reservations"{{/unless}}> Reservation Management </a>
                </li>

                <li class="nav-item me-3 {{#if (eq page "/users")}}ps-3 ps-sm-3 ps-md-3 ps-lg-0 mt-3 mt-sm-3 mt-md-0 mt-lg-0 text-bg-primary-accent rounded-3{{/if}}">
                    <a class="nav-link fw-bold {{#if (eq page "/users")}}disabled text-light{{/if}}" {{#unless (eq page "/users")}} href="/users"{{/unless}}> User Management </a>
                </li>
            {{/if}}

            <li class="nav-item me-3">
                <a class="nav-link fw-bold" href="/logout"> Log Out </a>
            </li>
        </ul>
    </div>
</nav>