<nav class="navbar navbar-expand-lg navbar-dark sticky-top ps-5 pe-5 pt-3 pb-3 mb-4 bg-dark">
    <div class="mb-0">
        <a class="navbar-brand text-white" href="/">
            <img class="d-inline-block align-items-center mb-2 square-40px" src="/media/images/company-logo.png">

            {{#if (eq page "/")}}
            Cebu Atlantic
            {{/if}}

        </a>
    </div>

    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#main-menu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="main-menu">
        <ul class="navbar-nav ms-auto">
            {{#if (eq role 'user')}}
                <li class="nav-item me-3 {{#if (eq page "/")}}ps-3 ps-sm-3 ps-md-3 ps-lg-0 mt-3 mt-sm-3 mt-md-3 mt-lg-0 text-bg-primary-accent rounded-3{{/if}}">
                    <a class="nav-link fw-bold {{#if (eq page "/")}}disabled text-light{{/if}}" {{#unless (eq page "/")}}href="/"{{/unless}}> Home </a>
                </li>

                <li class="nav-item me-3">
                    <a class="nav-link fw-bold" href="?"> Search A Flight </a>
                </li>

                <li class="nav-item me-3 {{#if (eq page "/flight-book")}}ps-3 ps-sm-3 ps-md-3 ps-lg-0 mt-3 mt-sm-3 mt-md-3 mt-lg-0 text-bg-primary-accent rounded-3{{/if}}">
                    <a class="nav-link fw-bold {{#if (eq page "/flight-book")}}disabled text-light{{/if}}" {{#unless (eq page "/flight-book")}}href="/flight-book"{{/unless}}> Reserve A Flight </a>
                </li>

                <li class="nav-item me-3 {{#if (eq page "/reservations")}}ps-3 ps-sm-3 ps-md-3 ps-lg-0 mt-3 mt-sm-3 mt-md-3 mt-lg-0 text-bg-primary-accent rounded-3{{/if}}">
                    <a class="nav-link fw-bold {{#if (eq page "/reservations")}}disabled text-light{{/if}}" {{#unless (eq page "/reservations")}}href="/reservations"{{/unless}}> My Reservations </a>
                </li>

                <li class="nav-item me-3 {{#if (eq page "/user-profile")}}ps-3 ps-sm-3 ps-md-3 ps-lg-0 mt-3 mt-sm-3 mt-md-3 mt-lg-0 text-bg-primary-accent rounded-3{{/if}}">
                    <a class="nav-link fw-bold {{#if (eq page "/user-profile")}}disabled text-light{{/if}}" {{#unless (eq page "/user-profile")}}href="/user-profile"{{/unless}}> Profile </a>
                </li>
            {{else if (eq role 'admin')}}
                <li class="nav-item me-3 {{#if (eq page "/admin-profile")}}ps-3 ps-sm-3 ps-md-3 ps-lg-0 mt-3 mt-sm-3 mt-md-3 mt-lg-0 text-bg-primary-accent rounded-3{{/if}}">
                    <a class="nav-link fw-bold {{#if (eq page "/admin-profile")}}disabled text-light{{/if}}" {{#unless (eq page "/admin-profile")}} href="/admin-profile"{{/unless}}> Dashboard </a>
                </li>

                <li class="nav-item me-3">
                    <a class="nav-link fw-bold" href="?"> Flight Management </a>
                </li>

                <li class="nav-item me-3 {{#if (eq page "/admin-reservations")}}ps-3 ps-sm-3 ps-md-3 ps-lg-0 mt-3 mt-sm-3 mt-md-3 mt-lg-0 text-bg-primary-accent rounded-3{{/if}}">
                    <a class="nav-link fw-bold {{#if (eq page "/admin-reservations")}}disabled text-light{{/if}}" {{#unless (eq page "/admin-reservations")}} href="/admin-reservations"{{/unless}}> Reservation Management </a>
                </li>

                <li class="nav-item me-3">
                    <a class="nav-link fw-bold" href="?"> User Management </a>
                </li>
            {{/if}}

            <li class="nav-item me-3">
                <a class="nav-link fw-bold" href="/logout"> Log Out </a>
            </li>
            {{!-- Tapos pag logged in na, Sign Out na dapat nakalagay --}}
        </ul>
    </div>
</nav>