<div class="col-md-12 col-lg-6 w-auto m-0 p-0 mb-sm-2 mb-2 mb-md-0 mb-lg-0 text-center">
    <span class="badge available text-black w-auto"> Available </span>
    <span class="badge selected text-black w-auto"> Selected </span>
    <span class="badge occupied text-black w-auto"> Occupied </span>
</div>

<div class="col-lg-1 w-auto p-0 mx-2 d-sm-none d-lg-block d-md-block d-none text-center">
    <div class="vr border border-3 border-dark rounded-3 opacity-100 d-inline-block h-100"></div>
</div>

<div class="col-md-12 col-lg-6 w-auto m-0 p-0 mx-sm-1 mx-lg-0 mx-1 mx-md-0 text-center">
    <span class="badge economy w-auto p-2"> Economy </span>
    <span class="badge premium w-auto p-2"> Premium </span>
    <span class="badge business w-auto p-2"> Business </span>
    <span class="badge first-class w-auto p-2"> First Class </span>
</div>