{{> navigation}}

<div class="container mt-5 mb-5">
    <div class="card bg-transparent border-0">
        <div class="row">
            <div class="col-lg-8 mb-4">
                <!-- PROGRESS BAR -->
                <div class="card mb-4 bg-transparent border-0">
                    <div class="card-header p-4 bg-primary-accent rounded-5 shadow-lg">
                        <div class="progress rounded-pill h-30px bg-warning">
                            <div class="progress-bar bg-success fs-6 pb-1"></div>
                        </div>
                    </div>
                </div>

                <!-- PASSENGER INFORMATION -->
                <div class="card mb-4 shadow-lg">
                    <div class="card-header text-center text-white bg-primary-accent">
                        <h2 class="mt-2"> Passenger Information </h2>
                    </div>

                    <div class="card-body">
                        <!-- PASSENGER NAME -->
                        <div class="mx-4 mb-4 mt-2">
                            <h4 class="text-primary-accent"> Name
                                <span class="text-danger fw-bolder"> * </span>
                            </h4>

                            <div class="row">
                                <div class="col-lg-4 col-md-12 mb-md-4 mb-lg-0 mb-sm-4 mb-4">
                                    <div class="input-group">
                                        <div class="input-group-text bg-dark border-dark">
                                            <i class="text-secondary bi bi-chat-square-dots-fill"></i>
                                        </div>

                                        <input class="form-control rounded-end-3 bg-light border-dark border-2 text-black required-field"
                                               type="text" placeholder="Alex Jax" id="first-name">

                                        <div class="invalid-feedback">
                                            This first name field is required!
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 mb-sm-4 mb-lg-0 mb-md-0 mb-4">
                                    <div class="input-group">
                                        <div class="input-group-text bg-dark border-dark">
                                            <i class="text-secondary bi bi-chat-square-dots-fill"></i>
                                        </div>

                                        <input class="form-control rounded-end-3 bg-light border-dark border-2 text-black required-field"
                                               type="text" placeholder="Doe" id="last-name">

                                        <div class="invalid-feedback">
                                            This last name field is required!
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-text bg-dark border-dark">
                                            <i class="text-secondary bi bi-pen-fill"></i></i>
                                        </div>

                                        <select class="form-select bg-light border-dark border-2 rounded-end-3 text-black required-field"
                                                id="suffix-select">
                                            <option selected hidden value=""> Select A Suffix </option>
                                            <option> None </option>
                                            <option> Jr. </option>
                                            <option> Sr. </option>
                                            <option> II </option>
                                            <option> III </option>
                                            <option> IV </option>
                                            <option> V </option>
                                        </select>

                                        <div class="invalid-feedback">
                                            This suffix field is required!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mx-4 mb-4">
                            <div class="row">
                                <!-- E-MAIL -->
                                <div class="col-lg-6 col-md-12 mb-md-4 mb-lg-0 mb-sm-4 mb-4">
                                    <h4 class="text-primary-accent"> E-Mail
                                        <span class="text-danger fw-bolder"> * </span>
                                    </h4>

                                    <div class="input-group">
                                        <input class="form-control bg-light border-dark border-2 text-black required-field"
                                               type="text" placeholder="email-address" id="email-address">

                                        <div class="input-group-text bg-dark border-dark">
                                            <i class="text-secondary fa-solid fa-at"></i>
                                        </div>

                                        <input class="form-control bg-light border-dark border-2 rounded-end-3 text-black required-field"
                                               type="text" placeholder="domain.com" id="domain-address">

                                        <div class="invalid-feedback">
                                            This e-mail field is required!
                                        </div>
                                    </div>
                                </div>

                                <!-- CONTACT NUMBER -->
                                <div class="col-lg-6 col-md-12">
                                    <h4 class="text-primary-accent"> Contact Number
                                        <span class="text-danger fw-bolder"> * </span>
                                    </h4>

                                    <div class="input-group">
                                        <div class="input-group-text bg-dark border-dark">
                                            <i class="text-secondary bi bi-telephone-fill"></i>
                                        </div>

                                        <input class="form-control bg-light border-dark border-end-0 border-2 text-black required-field"
                                               type="text" oninput="this.value = this.value.replace(/\D/g, '')"
                                               placeholder="00" id="country-number">
                                        <input class="w-50 form-control bg-light border-dark border-2 text-black rounded-end-3 required-field"
                                               type="text" oninput="this.value = this.value.replace(/\D/g, '')"
                                               placeholder="123456789" id="contact-number">

                                        <div class="invalid-feedback">
                                            This contact number field is required!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mx-4 mb-4">
                            <div class="row">
                                <!-- PASSPORT CODE -->
                                <div class="col-lg-6 col-md-6 mb-sm-4 mb-lg-0 mb-md-0 mb-4">
                                    <h4 class="text-primary-accent"> Passport Code
                                        <span class="text-danger fw-bolder"> * </span>
                                    </h4>

                                    <div class="input-group">
                                        <div class="input-group-text bg-dark border-dark">
                                            <i class="text-secondary bi bi-postcard-fill"></i>
                                        </div>

                                        <input class="form-control bg-light border-dark border-2 text-black rounded-end-3 required-field"
                                               type="text" placeholder="A12345678" id="passport-code">

                                        <div class="invalid-feedback">
                                            This passport field is required!
                                        </div>
                                    </div>
                                </div>

                                <!-- NATIONALITY -->
                                <div class="col-lg-6 col-md-6">
                                    <h4 class="text-primary-accent"> Nationality
                                        <span class="text-danger fw-bolder"> * </span>
                                    </h4>

                                    <div class="input-group">
                                        <div class="input-group-text bg-dark border-dark">
                                            <i class="text-secondary bi bi-flag-fill"></i>
                                        </div>

                                        <select class="form-select bg-light border-dark border-2 text-black rounded-end-3 required-field"
                                                id="nationality">
                                            <option selected hidden value=""> Select A Nationality </option>
                                            <option> Afghan </option>
                                            <option> Bahamian </option>
                                            <option> Cambodian </option>
                                            <option> Danish </option>
                                            <option> East Timorese </option>
                                            <option> Filipino </option>
                                            <option> Gabonese </option>
                                            <option> Haitian </option>
                                            <option> Icelander </option>
                                            <option> Jamaican </option>
                                            <option> Kazakhstani </option>
                                            <option> Laotian </option>
                                            <option> Macedonian </option>
                                            <option> Namibian </option>
                                            <option> Omani </option>
                                            <option> Pakistani </option>
                                            <option> Qatari </option>
                                            <option> Romanian </option>
                                            <option> Saint Lucian </option>
                                            <option> Taiwanese </option>
                                            <option> Ugandan </option>
                                            <option> Venezuelan </option>
                                            <option> Welsh </option>
                                            <option> Yemenite </option>
                                            <option> Zambian </option>
                                        </select>

                                        <div class="invalid-feedback">
                                            This nationality field is required!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mx-4 mb-4">
                            <div class="row">
                                <!-- BIRTHDATE -->
                                <div class="col-lg-6 col-md-6 mb-sm-4 mb-lg-0 mb-md-0 mb-4" id="date-container">
                                    <h4 class="text-primary-accent"> Birthdate
                                        <span class="text-danger fw-bolder"> * </span>
                                    </h4>

                                    <div class="input-group">
                                        <div class="input-group-text bg-dark border-dark">
                                            <i class="text-secondary bi bi-calendar2-fill"></i>
                                        </div>

                                        <input class="form-control rounded-end-3 bg-light border-dark border-2 text-black required-field"
                                               type="date" id="date-input">

                                        <div class="invalid-feedback" id="invalid-input">
                                            Select a date before today!
                                        </div>

                                        <div class="invalid-feedback" id="no-input">
                                            This birthdate filed is required!
                                        </div>

                                        <div class="d-none d-flex w-auto align-items-center ms-4"
                                             id="age-badge-container">
                                            <span class="badge p-2 rounded-pill text-bg-primary text-white card-hover-sm shadow"
                                                  id="age-badge"></span>
                                        </div>
                                    </div>
                                </div>

                                <!-- GENDER -->
                                <div class="col-lg-6 col-md-6">
                                    <h4 class="text-primary-accent"> Gender
                                        <span class="text-danger fw-bolder"> * </span>
                                    </h4>

                                    <div class="input-group">
                                        <div class="input-group-text bg-dark border-dark">
                                            <i class="text-secondary bi bi-person-fill"></i>
                                        </div>

                                        <select class="form-select bg-light border-dark border-2 text-black rounded-end-3 required-field"
                                                id="gender-select">
                                            <option selected hidden value=""> Select Gender </option>
                                            <option> Prefer Not To Answer </option>
                                            <option> Not Listed </option>
                                            <option> Male </option>
                                            <option> Female </option>
                                            <option> Transgender Male </option>
                                            <option> Transgender Female </option>
                                            <option> Non-Binary </option>
                                        </select>

                                        <div class="invalid-feedback" id="select">
                                            This gender field is required!
                                        </div>
                                    </div>

                                    <div class="d-none" id="other-gender-container">
                                        <input class="form-control bg-light border-dark border-2 text-black mt-4 required-field"
                                               type="text" placeholder="Please Specify" id="other-gender-input">

                                        <div class="invalid-feedback" id="specify">
                                            Specify your gender!
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- EMERGENCY CONTACT NAME -->
                        <div class="mx-4 mb-4">
                            <h4 class="text-primary-accent"> Emergency Contact Name </h4>
                            <div class="row">
                                <div class="col-lg-4 col-md-12 mb-md-4 mb-lg-0 mb-sm-4 mb-4">
                                    <div class="input-group">
                                        <div class="input-group-text bg-dark border-dark">
                                            <i class="text-secondary bi bi-chat-square-dots-fill"></i>
                                        </div>

                                        <input class="form-control rounded-end-3 bg-light border-dark border-2 text-black"
                                               type="text" placeholder="Alex Jax" id="emergency-first-name">
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 mb-sm-4 mb-lg-0 mb-md-0 mb-4">
                                    <div class="input-group">
                                        <div class="input-group-text bg-dark border-dark">
                                            <i class="text-secondary bi bi-chat-square-dots-fill"></i>
                                        </div>

                                        <input class="form-control rounded-end-3 bg-light border-dark border-2 text-black"
                                               type="text" placeholder="Doe" id="emergency-last-name">
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6">
                                    <div class="input-group">
                                        <div class="input-group-text bg-dark border-dark">
                                            <i class="text-secondary bi bi-pen-fill"></i></i>
                                        </div>

                                        <select class="form-select bg-light border-dark border-2 text-black"
                                                id="emergency-suffix">
                                            <option selected hidden value=""> Select A Suffix </option>
                                            <option> None </option>
                                            <option> Jr. </option>
                                            <option> Sr. </option>
                                            <option> II </option>
                                            <option> III </option>
                                            <option> IV </option>
                                            <option> V </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mx-4 mb-2">
                            <div class="row">
                                <!-- EMERGENCY CONTACT NUMBER -->
                                <div class="col-lg-6 col-md-6 mt-md-4 mt-lg-0 mb-sm-4 mb-4">
                                    <h4 class="text-primary-accent"> Emergency Contact </h4>

                                    <div class="input-group">
                                        <div class="input-group-text bg-dark border-dark">
                                            <i class="text-secondary bi bi-telephone-fill"></i>
                                        </div>

                                        <input class="form-control bg-light border-dark border-end-0 border-2 text-black"
                                               type="text" oninput="this.value = this.value.replace(/\D/g, '')"
                                               placeholder="00" id="emergency-country-number">
                                        <input class="w-50 form-control bg-light border-dark border-2 text-black"
                                               type="text" oninput="this.value = this.value.replace(/\D/g, '')"
                                               placeholder="123456789" id="emergency-contact-number">
                                    </div>
                                </div>

                                <!-- RELATIONSHIP WITH EMERGENCY CONTACT -->
                                <div class="col-lg-6 mb-4 col-md-6">
                                    <h4 class="text-primary-accent"> Emergency Contact Relationship </h4>

                                    <div class="input-group">
                                        <div class="input-group-text bg-dark border-dark">
                                            <i class="text-secondary bi bi-people-fill"></i>
                                        </div>

                                        <select class="form-select bg-light border-dark border-2 text-black"
                                                id="emergency-relationship">
                                            <option selected hidden value=""> Select Relationship </option>
                                            <option> Partner or Spouse </option>
                                            <option> Parent </option>
                                            <option> Child </option>
                                            <option> Sibling </option>
                                            <option> Relative </option>
                                            <option> Friend </option>
                                            <option> Guardian </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="border border-3 border-dark rounded-3 opacity-100 m-0 p-0">

                        <div class="container mb-3 mt-4 d-flex justify-content-center">
                            <button class="btn btn-primary text-white btn-lg m-0">
                                Add A Passenger
                                <!-- Duplicates the fields for another passenger -->
                            </button>
                        </div>
                    </div>
                </div>

                <!-- MEAL SELECTION -->
                <div class="card mb-4 shadow-lg">
                    <div class="card-header text-center text-white bg-primary-accent">
                        <h2 class="mt-2"> Meal Selection </h2>
                    </div>

                    <div class="card-body mx-5 my-4 p-0 d-grid">
                        <div class="row">
                            <div class="col-lg-6 p-0 mb-md-3 mb-lg-0 mb-sm-3 mb-3">
                                <div class="btn-group w-100">
                                    <input class="btn-check" type="radio" name="meal-selection" id="standard">
                                    <label class="btn btn-outline-primary col-md-4 col-lg-2" for="standard">
                                        Standard
                                    </label>

                                    <input type="radio" class="btn-check" name="meal-selection" id="vegetarian">
                                    <label class="btn btn-outline-primary col-md-4 col-lg-2" for="vegetarian">
                                        Vegetarian
                                    </label>

                                    <input type="radio" class="btn-check mb-lg-0" name="meal-selection" id="vegan">
                                    <label class="btn btn-outline-primary col-md-4 col-lg-2 rounded-end-md-2 rounded-end-lg-0"
                                           for="vegan">
                                        Vegan
                                    </label>
                                </div>
                            </div>

                            <div class="col-lg-6 p-0">
                                <div class="btn-group w-100">
                                    <input type="radio" class="btn-check" name="meal-selection" id="halal">
                                    <label class="btn btn-outline-primary col-md-4 col-lg-2 rounded-start-lg-0 border-start-lg-0 rounded-start-md-2"
                                           for="halal">
                                        Halal
                                    </label>

                                    <input type="radio" class="btn-check" name="meal-selection" id="kosher">
                                    <label class="btn btn-outline-primary col-md-4 col-lg-2" for="kosher">
                                        Kosher
                                    </label>

                                    <input type="radio" class="btn-check" name="meal-selection" id="gluten-free">
                                    <label class="btn btn-outline-primary col-md-4 col-lg-2" for="gluten-free">
                                        Gluten-Free
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SEAT SELECTION -->
                <div class="card mb-4 shadow-lg">
                    <div class="card-header text-center text-white bg-primary-accent">
                        <h2 class="mt-2"> Seat Selection </h2>
                    </div>

                    <div class="card-body mx-4 mb-4 mt-2">
                        <div class="mb-3 d-flex gap-2">
                            <div class="row w-100 d-flex">
                                <div class="col-md-12 col-lg-6 w-auto m-0 p-0 mb-sm-2 mb-2 mb-md-0 mb-lg-0">
                                    <span class="badge available text-black w-auto"> Available </span>
                                    <span class="badge selected text-black w-auto"> Selected </span>
                                    <span class="badge occupied text-black w-auto"> Occupied </span>
                                </div>

                                <div class="col-lg-1 w-auto p-0 mx-2 d-sm-none d-lg-block d-md-block d-none">
                                    <div class="vr border border-3 border-dark rounded-3 opacity-100 h-75"></div>
                                </div>

                                <div class="col-md-12 col-lg-6 w-auto m-0 p-0 mx-sm-1 mx-lg-0 mx-1 mx-md-0">
                                    <span class="badge bg-tertiary-accent w-auto p-2">
                                        Economy
                                    </span>

                                    <span class="badge bg-secondary-accent w-auto p-2">
                                        Premium
                                    </span>

                                    <span class="badge bg-primary-accent w-auto p-2">
                                        First Class
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row text-center mb-2">
                            <div class="col d-flex justify-content-center">
                                <div class="seat first-class available"> A1 </div>
                            </div>

                            <div class="col d-flex justify-content-center">
                                <div class="seat first-class available"> A2 </div>
                            </div>

                            <div class="col d-flex justify-content-center">
                                <div class="seat first-class occupied"> A3 </div>
                            </div>

                            <div class="col d-flex justify-content-center">
                                <div class="seat first-class available"> A4 </div>
                            </div>
                        </div>

                        <div class="row text-center mb-2">
                            <div class="col d-flex justify-content-center">
                                <div class="seat premium available"> B1 </div>
                            </div>

                            <div class="col d-flex justify-content-center">
                                <div class="seat premium available"> B2 </div>
                            </div>

                            <div class="col d-flex justify-content-center">
                                <div class="seat premium available"> B3 </div>
                            </div>

                            <div class="col d-flex justify-content-center">
                                <div class="seat premium available"> B4 </div>
                            </div>
                        </div>

                        <div class="row text-center mb-2 d-flex">
                            <div class="col d-flex justify-content-center">
                                <div class="seat economy available"> C1 </div>
                            </div>

                            <div class="col d-flex justify-content-center">
                                <div class="seat economy occupied"> C2 </div>
                            </div>

                            <div class="col d-flex justify-content-center">
                                <div class="seat economy available"> C1 </div>
                            </div>

                            <div class="col d-flex justify-content-center">
                                <div class="seat economy available"> C1 </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- EXTRA SERVICES -->
                <div class="card shadow-lg">
                    <div class="card-header text-center text-white bg-primary-accent">
                        <h2 class="mt-2"> Extra Services </h2>
                    </div>

                    <div class="card-body mx-4 mb-4">
                        <div class="mb-4 mt-2">
                            <h4 class="text-primary-accent"> Addional Baggage (kg) </h4>

                            <div class="input-group">
                                <div class="input-group-text bg-dark border-dark">
                                    <i class="text-secondary fa-solid fa-weight-hanging"></i>
                                </div>

                                <input class="form-control rounded-end-3 bg-light border-dark border-2 text-black"
                                       type="number" min="0" max="50" value="0" id="additional-baggage">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-lg-6 m-0 pe-lg-0 col-md-6 mb-sm-3 mb-3 mb-lg-0 mb-md-0">
                                <div class="btn-group w-100">
                                    <input type="checkbox" class="btn-check" name="extra-services"
                                           id="priority-boarding">
                                    <label class="btn btn-outline-primary" for="priority-boarding">
                                        Priority Boarding
                                    </label>

                                    <input type="checkbox" class="btn-check" name="extra-services"
                                           id="travel-insurance">
                                    <label class="btn btn-outline-primary rounded-end-lg-0 rounded-end-md-0"
                                           for="travel-insurance">
                                        Travel Insurance
                                    </label>
                                </div>
                            </div>

                            <div class="col-sm-12 col-lg-6 m-0 ps-lg-0 col-md-6">
                                <div class="btn-group w-100">
                                    <input type="checkbox" class="btn-check" name="extra-services" id="lounge-access">
                                    <label class="btn btn-outline-primary rounded-start-lg-0 border-start-lg-0 rounded-start-md-0 border-start-md-0"
                                           for="lounge-access">
                                        Lounge Access
                                    </label>

                                    <input type="checkbox" class="btn-check" name="extra-services" id="none">
                                    <label class="btn btn-outline-primary" for="none">
                                        No Extra Service
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <!-- BOOKING SUMMARY -->
                <div class="card shadow-lg">
                    <div class="card-header text-center text-white bg-primary-accent">
                        <h2 class="mt-2"> Booking Summary </h2>
                    </div>

                    <div class="card-body">
                        <h2 class="text-primary"> Flight Details </h2>

                        <div class="d-flex align-items-center m-0 p-0 text-dark">
                            <p class="m-0 p-0 ps-3 fw-bolder"> Origin: </p>
                            <p class="m-0 p-0 ps-1"> MNL Ninoy Aquino International Airport </p>
                        </div>

                        <div class="d-flex align-items-center m-0 p-0 text-dark">
                            <p class="m-0 p-0 ps-3 fw-bolder"> Destination: </p>
                            <p class="m-0 p-0 ps-1"> SIN Singapore Changi Airport </p>
                        </div>

                        <div class="d-flex align-items-center m-0 p-0 text-dark">
                            <p class="m-0 p-0 ps-3 fw-bolder"> Flight Number: </p>
                            <p class="m-0 p-0 ps-1"> PR102 </p>
                        </div>

                        <div class="d-flex align-items-center m-0 p-0 text-dark">
                            <p class="m-0 p-0 ps-3 fw-bolder"> Cabin Class: </p>
                            <p class="m-0 p-0 ps-1" id="selected-class"></p>
                        </div>

                        <hr class="border border-3 border-dark rounded-3 opacity-100">

                        <h2 class="text-primary"> Reservation Details </h2>

                        <div class="d-flex align-items-center m-0 p-0 text-dark">
                            <p class="m-0 p-0 ps-3 fw-bolder"> Passengers: </p>
                            <p class="m-0 p-0 ps-1"> 1 </p>
                        </div>

                        <div class="d-flex align-items-center m-0 p-0 text-dark">
                            <p class="m-0 p-0 ps-3 fw-bolder"> Selected Seat: </p>
                            <p class="m-0 p-0 ps-1" id="selected-seat"></p>
                        </div>

                        <div class="d-flex align-items-center m-0 p-0 text-dark">
                            <p class="m-0 p-0 ps-3 fw-bolder"> Meal Package: </p>
                            <p class="m-0 p-0 ps-1" id="selected-meal"></p>
                        </div>

                        <div class="d-flex align-items-center m-0 p-0 text-dark">
                            <p class="m-0 p-0 ps-3 fw-bolder"> Extra Services: </p>
                            <p class="m-0 p-0 ps-1" id="no-extra-services"></p>
                        </div>

                        <div class="m-0 p-0 text-dark" id="has-extra-services">

                        </div>

                        <hr class="border border-3 border-dark rounded-3 opacity-100">

                        <h2 class="text-primary"> Price Details </h2>

                        <div class="d-flex align-items-center m-0 p-0 text-dark">
                            <p class="m-0 p-0 ps-3 fw-bolder"> Base Fare: </p>
                            <p class="m-0 p-0 ps-1" id="base-fare"></p>
                        </div>

                        <div class="d-flex align-items-center m-0 p-0 text-dark">
                            <p class="m-0 p-0 ps-3 fw-bolder"> Taxes and Fees: </p>
                            <p class="m-0 p-0 ps-1" id="tax-and-fee"></p>
                        </div>

                        <div class="d-flex align-items-center m-0 p-0 text-dark">
                            <p class="m-0 p-0 ps-3 fw-bolder"> Extras: </p>
                            <p class="m-0 p-0 ps-1" id="extra-fee"></p>
                        </div>

                        <hr class="border border-3 border-dark rounded-3 opacity-100">

                        <h2 class="d-flex align-items-center m-0 p-0 text-secondary">
                            <p class="m-0 p-0"> Grand Total: </p>
                            <p class="m-0 p-0 ps-2" id="booking-total"></p>
                        </h2>
                    </div>

                    <div class="card-footer">
                        <div class="d-grid my-2">
                            <button class="btn btn-success text-white btn-lg" onclick="confirmBooking()">
                                Confirm Booking
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MEAL SELECTION TOAST -->
<div class="toast position-fixed bottom-0 start-50 translate-middle-x p-2 m-3 w-auto text-bg-success text-white z-max"
     id="meal-toast">
    <div class="d-flex align-items-center">
        <div class="text-nowrap toast-body"></div>
        <button class="me-2 m-auto btn-close btn-close-white" data-bs-dismiss="toast"></button>
    </div>
</div>

<!-- SEAT SELECTION TOAST -->
<div class="toast position-fixed bottom-0 start-50 translate-middle-x p-2 m-3 w-auto text-bg-success text-white z-max"
     id="seat-toast">
    <div class="d-flex align-items-center">
        <div class="text-nowrap toast-body"></div>
        <button class="me-2 m-auto btn-close btn-close-white" data-bs-dismiss="toast"></button>
    </div>
</div>

<!-- BOOKING DETAILS INCCOMPLETE TOAST -->
<div class="toast position-fixed bottom-0 start-50 translate-middle-x p-2 m-3 w-auto text-bg-danger text-white z-max"
     id="incomplete">
    <div class="d-flex align-items-center">
        <div class="text-nowrap toast-body">
            Complete the booking details first!
        </div>

        <button class="me-2 m-auto btn-close btn-close-white" data-bs-dismiss="toast"></button>
    </div>
</div>

<!-- BOOKING DETAILS COMPLETE TOAST -->
<div class="toast position-fixed bottom-0 start-50 translate-middle-x p-2 m-3 w-auto text-bg-success text-white z-max"
     id="complete">
    <div class="d-flex align-items-center">
        <div class="text-nowrap toast-body"></div>

        <button class="me-2 m-auto btn-close btn-close-white" data-bs-dismiss="toast"></button>
    </div>
</div>

{{> footer}}