<body>

    <img src="https://picsum.photos/1920/1080/?blur=5"
         class="position-fixed top-0 start-0 w-100 h-100 z-n1 object-fit-cover">

    <div class="container m-auto">
        <div class="row justify-content-center">
            <div class="col-10 col-sm-9 col-md-7 col-lg-4">
                <div class="card shadow-sm rounded-3 p-4 mt-5 mb-5 bg-dark">
                    <img class="d-inline-block align-items-center mb-2 square-40px p-1"
                         src="/media/images/company-logo.png">

                    <h2 class="text-center fw-bolder text-primary mb-4"> Log In </h2>

                    <form method="POST" action="/login">
                        <div class="mb-3">
                            <h4 class="text-secondary"> E-Mail Address </h4>

                            <div class="input-group">
                                <input name="email-address"
                                       class="form-control bg-light border-secondary border-2 text-black h-45px"
                                       type="email" placeholder="Enter Your Email" required>
                            </div>
                        </div>

                        <div class="mb-3">
                            <h4 class="text-secondary"> Password </h4>

                            <div class="input-group">
                                <input id="password" name="password"
                                       class="form-control bg-light border-secondary border-2 text-black h-45px"
                                       type="password" placeholder="Enter Your Password" required>

                                <button id="toggle-password" type="button"
                                        class="input-group-text bg-secondary border-secondary border-2">
                                    <i id="toggle-icon" class="fa-solid fa-eye text-primary-accent"></i>
                                </button>
                            </div>
                        </div>

                        <button type="submit" class="mt-3 btn btn-lg fw-bold text-light btn-secondary w-100">
                            Login
                        </button>

                        <div class="mt-3 text-center">
                            <a href="/register" class="text-decoration-none text-tertiary">
                                No Account? Register One!
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>