{{> navigation}}

<div class="container mt-5 mb-5">
    <div class="card d-flex shadow-lg">
        <div class="card-header text-center text-white bg-primary-accent">
            <h2 class="mt-2"> Reservation Management </h2>
        </div>

        <!-- TABLE -->
        <div class="card-body">
            <div class="table-responsive text-nowrap">
                <table class="table text-center table-hover">
                    <thead class="border-dark border-2">
                        <tr>
                            <th class="text-secondary bg-dark" scope="col">
                                Booking Reference
                            </th>

                            <th class="text-secondary bg-dark" scope="col">
                                Booking Passenger
                            </th>

                            <th class="text-secondary bg-dark" scope="col">
                                Route
                            </th>

                            <th class="text-secondary bg-dark" scope="col">
                                Total Pax
                            </th>

                            <th class="text-secondary bg-dark" scope="col">
                                Booking Status
                            </th>

                            <th class="text-secondary bg-dark" scope="col">
                                Details
                            </th>
                        </tr>
                    </thead>

                    <tbody class="table-group-divider">
                        {{> reservationRows}}

                        <tr class="border-3 border-bottom-0 border-top border-end-0 border-start-0 border-dark">
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="card-footer bg-primary-accent">
            <div class="d-flex justify-content-between align-items-center flex-wrap gap-3 m-3">
                <h6 class="text-white">
                    Showing {{pagination.resultsPerPage}} Results Out Of {{pagination.totalResults}}
                </h6>

                <div class="d-flex justify-content-center align-items-center flex-wrap gap-3">
                    <a class="btn m-0 btn-success text-white" href="/flight-search">
                        Add Reservation
                    </a>

                    {{> pagination}}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- VIEW RESERVATION MODAL -->
<div class="modal fade" id="view-reservation" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h2 class="modal-title fs-5"> [BOOKING REFERENCE] Details </h2>
            </div>

            <div class="modal-body bg-white fw-bolder text-dark">
                ...
            </div>

            <div class="modal-footer bg-light">
                <button class="btn btn-primary text-white" data-bs-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<!-- DELETE RESERVATION MODAL -->
<div class="modal fade" id="delete-reservation" data-bs-backdrop="static">
    <div class="modal-dialog modal-sm modal-dialog-centered text-center">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h2 class="modal-title fs-5"> Are you sure? </h2>
            </div>

            <div class="modal-footer d-flex bg-light">
                <button class="btn btn-success text-white" data-bs-dismiss="modal">
                    No
                </button>

                <button class="btn btn-danger text-white"
                        onclick="hideModalShowToast('delete-reservation', 'delete-toast')">
                    Yes, Delete It
                </button>
            </div>
        </div>
    </div>
</div>

<!-- DELETE RESERVATION TOAST -->
<div class="toast position-fixed bottom-0 start-50 translate-middle-x p-2 m-3 w-auto text-bg-danger text-white z-max"
     id="delete-toast">
    <div class="d-flex align-items-center">
        <div class="text-nowrap toast-body">
            Deleted [BOOKING REFERENCE]!
        </div>

        <button class="me-2 m-auto btn-close btn-close-white" data-bs-dismiss="toast"></button>
    </div>
</div>

{{> footer }}