<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Renier Anthony V. Namol">
    <meta charset="UTF-8">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"
            defer></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@4.0.0/dist/jquery.min.js"
            integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous" defer></script>
    <script src="/scripts/profile.js" defer></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
          integrity="sha384-CK2SzKma4jA5H/MXDUU7i1TqZlCFaD4T01vtyDFvPlD97JQyS+IsSh1nI2EFbpyk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.2.0/css/all.min.css"
          integrity="sha384-EXatlQyrOJgDaM9/a74ArMzy7/2bTMSrZj8ID1IPeVmc3GncfCugefCFWSLj8JL/" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/override.css">
    <link rel="stylesheet" href="/styles/additional.css">
    <title> [BRAND] </title>
</head>

<body class="d-flex flex-column min-vh-100">
    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-expand-lg sticky-top ps-5 pe-5 pt-3 pb-3 mb-4 bg-dark navbar-dark">
        <a class="navbar-brand mb-0 h1" href="/index.html"> [BRAND] </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="main-menu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item me-3">
                    <a class="nav-link fw-bold" href="/index.html"> Home </a>
                </li>

                <li class="nav-item me-3">
                    <a class="nav-link fw-bold" href="###"> Search A Flight </a>
                </li>

                <li class="nav-item me-3">
                    <a class="nav-link fw-bold" href="###"> Reserve A Flight </a>
                </li>

                <li class="nav-item me-3">
                    <a class="nav-link fw-bold" href="###"> My Reservations </a>
                </li>

                <li class="nav-item ps-3 ps-sm-3 ps-md-3 ps-xl-0 mt-xl-0 me-3 text-bg-primary-accent rounded-3">
                    <a class="nav-link disabled fw-bold text-light"> My Profile </a>
                </li>

                <li class="nav-item dropstart">
                    <a class="nav-link dropdown-toggle fw-bold" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Admin Access
                    </a>
                    <ul class="dropdown-menu mb-3 bg-dark-subtle">
                        <li><a class="dropdown-item" href="###"> Admin Dashboard </a></li>
                        <li><a class="dropdown-item" href="###"> Flight Management </a></li>
                        <li><a class="dropdown-item" href="###"> Reservation Management </a></li>
                        <li><a class="dropdown-item" href="/views/admin/admin-users.html"> User Management </a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Required Sections 
    • Saved passengers 
    • Payment method UI mockup 
    • Notification preferences 
    Interactive Components 
    • Profile image placeholder upload UI -->

    <!--
    ### Travel Document & Verification
    International and domestic flights require identity verification to comply with security rules.
    * **Passport Number:** (Required for international flights).
    * **Passport Expiry Date:** (Many countries require the passport to be valid for at least 6 months beyond your trip).
    * **Issuing Country (Passport):**
    * **Redress Number / Known Traveler Number (KTN):** (Optional fields for trusted travelers to speed up security checks). -->

    <div class="container mt-5 mb-5">
        <ul class="nav nav-tabs border-0">
            <li class="nav-item me-3">
                <button class="nav-link" id="account-information-tab" data-bs-toggle="tab"
                        data-bs-target="#account-information-pane" type="button">
                    Account Information
                </button>
            </li>

            <li class="nav-item me-3">
                <button class="nav-link" id="passenger-information-tab" data-bs-toggle="tab"
                        data-bs-target="#passenger-information-pane" type="button">
                    Passenger Information
                </button>
            </li>

            <li class="nav-item me-3">
                <button class="nav-link" id="saved-passengers-tab" data-bs-toggle="tab"
                        data-bs-target="#saved-passengers-pane" type="button">
                    Saved Passengers
                </button>
            </li>

            <li class="nav-item me-3">
                <button class="nav-link" id="three-tab" data-bs-toggle="tab" data-bs-target="#three-pane" type="button">
                    [3]
                </button>
            </li>

            <li class="nav-item me-3">
                <button class="nav-link active" id="notifcation-preferences-tab" data-bs-toggle="tab"
                        data-bs-target="#notifcation-preferences-pane" type="button">
                    Notification Preferences
                </button>
            </li>

            <li class="nav-item">
                <button class="nav-link" id="travel-history-tab" data-bs-toggle="tab"
                        data-bs-target="#travel-history-pane" type="button">
                    Travel History
                </button>
            </li>
        </ul>

        <div class="tab-content border-start border-end border-bottom border-top rounded-3 rounded-top-0 border-top
             px-4 pt-3">

            <!-- ACCOUNT INFORMATION TAB show active -->
            <div class="tab-pane fade" id="account-information-pane">
                <h2> WOMP </h2>
            </div>

            <!-- PASSENGER INFORMATION TAB -->
            <div class="tab-pane fade" id="passenger-information-pane">
                <!-- PASSPORT INFORMATION SECTION -->
                <h2> Passport Information </h2>

                <hr>

                <div class="m-4">
                    <div class="row">
                        <div class="col-4">
                            <h4> Country Code </h4>

                            <div class="input-group">
                                <div class="input-group-text"><i class="bi bi-map-fill"></i></div>
                                <input class="form-control" type="text" placeholder="AAA">
                            </div>
                        </div>

                        <div class="col-4">
                            <h4> Passport Code </h4>

                            <div class="input-group">
                                <div class="input-group-text"><i class="bi bi-postcard-fill"></i></div>
                                <input class="form-control" type="text" placeholder="A12345678">
                            </div>
                        </div>

                        <div class="col-4">
                            <h4> Expiration Date </h4>

                            <div class="input-group">
                                <div class="input-group-text"><i class="bi bi-calendar2-fill"></i></div>
                                <input class="form-control rounded-end-3" type="date">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PERSONAL INFORMATION SECTION -->
                <h2> Personal Information </h2>

                <hr>
                <!-- PASSENGER NAME -->
                <div class="m-4">
                    <h4> Name </h4>

                    <div class="row">
                        <div class="col-4">
                            <div class="input-group">
                                <div class="input-group-text"><i class="bi bi-chat-square-dots-fill"></i></div>
                                <input class="form-control" type="text" placeholder="Alex Jax">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="input-group">
                                <div class="input-group-text"><i class="bi bi-chat-square-dots-fill"></i></div>
                                <input class="form-control" type="text" placeholder="Doe">
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="input-group">
                                <div class="input-group-text"><i class="bi bi-pen-fill"></i></i></div>
                                <select class="form-select">
                                    <option selected hidden> Select A Suffix </option>
                                    <option> None </option>
                                    <option> Jr. </option>
                                    <option> Sr. </option>
                                    <option> II </option>
                                    <option> III </option>
                                    <option> IV </option>
                                    <option> V </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- BIRTHDATE -->
                <div class="mx-4 mb-4">
                    <h4> Birthdate </h4>

                    <div class="row align-items-center">
                        <div class="col-12" id="date-container">
                            <div class="input-group">
                                <div class="input-group-text"><i class="bi bi-calendar2-fill"></i></div>
                                <input class="form-control rounded-end-3" type="date" id="date-input">

                                <div class="invalid-feedback">
                                    Select A Date Before Or On Today!
                                </div>
                            </div>
                        </div>

                        <div class="d-none" id="age-badge-container">
                            <span class="badge w-100 p-2 rounded-pill text-bg-primary text-white card-hover shadow"
                                  id="age-badge"></span>
                        </div>
                    </div>
                </div>

                <div class="mx-4 mb-4">
                    <div class="row">
                        <div class="col-6">
                            <!-- GENDER -->
                            <h4> Gender </h4>

                            <div class="input-group">
                                <div class="input-group-text"><i class="bi bi-person-fill"></i></div>
                                <select class="form-select" id="gender-select">
                                    <option selected hidden> Select The One You Most Identify With </option>
                                    <option> Prefer Not To Answer </option>
                                    <option> Not Listed </option>
                                    <option> Male </option>
                                    <option> Female </option>
                                    <option> Transgender Male </option>
                                    <option> Transgender Female </option>
                                    <option> Non-Binary </option>
                                </select>
                            </div>

                            <div class="mt-2 d-none" id="other-gender-container">
                                <input class="form-control" type="text" placeholder="Please Specify"
                                       id="other-gender-input">
                            </div>
                        </div>

                        <div class="col-6">
                            <!-- NATIONALITY -->
                            <h4> Nationality </h4>

                            <div class="input-group">
                                <div class="input-group-text"><i class="bi bi-flag-fill"></i></div>
                                <select class="form-select">
                                    <option selected hidden> Select A Nationality </option>
                                    <option> Afghan </option>
                                    <option> Bahamian </option>
                                    <option> Cambodian </option>
                                    <option> Danish </option>
                                    <option> East Timorese </option>
                                    <option> Filipino </option>
                                    <option> Gabonese </option>
                                    <option> Haitian </option>
                                    <option> Icelander </option>
                                    <option> Jamaican </option>
                                    <option> Kazakhstani </option>
                                    <option> Laotian </option>
                                    <option> Macedonian </option>
                                    <option> Namibian </option>
                                    <option> Omani </option>
                                    <option> Pakistani </option>
                                    <option> Qatari </option>
                                    <option> Romanian </option>
                                    <option> Saint Lucian </option>
                                    <option> Taiwanese </option>
                                    <option> Ugandan </option>
                                    <option> Venezuelan </option>
                                    <option> Welsh </option>
                                    <option> Yemenite </option>
                                    <option> Zambian </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- CONTACT INFORMATION TAB -->
                <h2> Contact Information </h2>

                <hr>

                <div class="m-4">
                    <div class="row">
                        <div class="col-6">
                            <!-- E-MAIL -->
                            <h4> E-Mail </h4>

                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="email-address">
                                <div class="input-group-text"><i class="bi bi-at"></i></div>
                                <input class="form-control" type="text" placeholder="domain.com">
                            </div>
                        </div>

                        <div class="col-6">
                            <!-- PHONE NUMBER -->
                            <h4> Phone Number </h4>

                            <div class="input-group">
                                <div class="input-group-text"><i class="bi bi-telephone-fill"></i></div>
                                <input class="form-control" type="text" placeholder="00">
                                <input class="form-control w-50" type="text" placeholder="123456789">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center mb-4">
                    <button class="btn btn-lg btn-primary text-white" onclick="showPassengerToast()">
                        Save Passenger
                    </button>
                </div>

                <!-- PASSENGER TOAST -->
                <div class="toast position-fixed bottom-0 start-50 translate-middle-x p-2 m-3 w-25 text-bg-success text-white"
                     data-bs-autohide="true" data-bs-delay="2000" id="passenger-toast">
                    <div class="d-flex">
                        <div class="toast-body">
                            Successfully saved passenger [FIRST NAME]!
                        </div>

                        <button type="button" class="btn-close btn-close-white me-2 m-auto"
                                data-bs-dismiss="toast"></button>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="saved-passengers-pane">
                <h2> Two Header </h2>
                <p> two text </p>
            </div>

            <div class="tab-pane fade" id="three-pane">
                <h2> Three Header </h2>
                <p> three text </p>
            </div>

            <!-- NOTIFICATION PREFERENCES TAB -->
            <div class="tab-pane fade show active" id="notifcation-preferences-pane">
                <!-- TRIP AND FLIGHT STATUS SECTION -->
                <div class="d-flex align-items-center">
                    <h2><i class="fa-solid fa-plane-circle-check me-2 fa-xs"></i></h2>
                    <h2> Trip and Flight Status </h2>
                </div>

                <p class="m-0 p-0">
                    Crucial updates regarding your active or upcoming flights, highly recommended for all travelers!
                </p>

                <hr>

                <div class="m-4">
                    <div class="row">
                        <div class="col-8"></div>

                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <h4><i class="bi bi-envelope-paper-fill me-2"></i></h4>
                            <h4> E-Mail </h4>
                        </div>

                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <h4><i class="bi bi-chat-square-quote-fill me-2"></i></h4>
                            <h4> SMS </h4>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-8">
                            <h6 class="m-0 p-0"> Flight Changes and Cancellations </h6>
                            <p class="m-0 p-0"> Real-time updates about critical schedule changes. </p>
                        </div>

                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <input class=" form-check form-check-inline form-check-input m-0 border-3 border-primary was-checked-primary"
                                   type="checkbox">
                        </div>

                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <input class=" form-check form-check-inline form-check-input m-0 border-3 border-primary was-checked-primary"
                                   type="checkbox">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <h6 class="m-0 p-0"> Gate and Baggage Changes </h6>
                            <p class="m-0 p-0"> Instant alerts for gate updates and luggage carousel numbers. </p>
                        </div>

                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <input class=" form-check form-check-inline form-check-input m-0 border-3 border-primary was-checked-primary"
                                   type="checkbox">
                        </div>

                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <input class=" form-check form-check-inline form-check-input m-0 border-3 border-primary was-checked-primary"
                                   type="checkbox">
                        </div>
                    </div>
                </div>

                <!-- CHECK-IN AND BOARDING SECTION -->
                <div class="d-flex align-items-center mt-5">
                    <h2><i class="fa-solid fa-ticket me-2 fa-xs"></i></h2>
                    <h2> Check-In and Boarding </h2>
                </div>

                <p class="m-0 p-0">
                    Time-sensitive reminders to help you prepare for departure day.
                </p>

                <hr>

                <div class="m-4">
                    <div class="row mb-4">
                        <div class="col-8">
                            <h6 class="m-0 p-0"> Check-In Reminders </h6>
                            <p class="m-0 p-0"> Alerts when the 24-hour check-in window officially opens. </p>
                        </div>

                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <input class=" form-check form-check-inline form-check-input m-0 border-3 border-primary was-checked-primary"
                                   type="checkbox">
                        </div>

                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <input class=" form-check form-check-inline form-check-input m-0 border-3 border-primary was-checked-primary"
                                   type="checkbox">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <h6 class="m-0 p-0"> Boarding Announcements </h6>
                            <p class="m-0 p-0"> Alerts when your specific zone or group is called to board. </p>
                        </div>

                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <input class=" form-check form-check-inline form-check-input m-0 border-3 border-primary was-checked-primary"
                                   type="checkbox">
                        </div>

                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <input class=" form-check form-check-inline form-check-input m-0 border-3 border-primary was-checked-primary"
                                   type="checkbox">
                        </div>
                    </div>
                </div>

                <!-- DEALS AND PROMOTIONS SECTION -->
                <div class="d-flex align-items-center mt-5">
                    <h2><i class="fa-solid fa-wand-magic-sparkles me-2 fa-xs"></i></h2>
                    <h2> Deals and Promotions </h2>
                </div>

                <p class="m-0 p-0">
                    Discounts, flash sales, and tailored travel inspiration based on your history.
                </p>

                <hr>

                <div class="m-4">
                    <div class="row mb-4">
                        <div class="col-8">
                            <h6 class="m-0 p-0"> Fare Sales and Special Offers </h6>
                            <p class="m-0 p-0"> Price drops and limited discounts on routes you watch. </p>
                        </div>

                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <input class=" form-check form-check-inline form-check-input m-0 border-3 border-primary was-checked-primary"
                                   type="checkbox">
                        </div>

                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <input class=" form-check form-check-inline form-check-input m-0 border-3 border-primary was-checked-primary"
                                   type="checkbox">
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col-8">
                            <h6 class="m-0 p-0"> Partner Discounts </h6>
                            <p class="m-0 p-0"> Exclusive deals on car rentals, hotels, and airport lounges. </p>
                        </div>

                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <input class=" form-check form-check-inline form-check-input m-0 border-3 border-primary was-checked-primary"
                                   type="checkbox">
                        </div>

                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <input class=" form-check form-check-inline form-check-input m-0 border-3 border-primary was-checked-primary"
                                   type="checkbox">
                        </div>
                    </div>

                    <hr>

                    <div class="row mb-4">
                        <div class="col-8">
                            <p> Subscribe to all e-mail or SMS notifcations. </p>
                        </div>

                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <input class=" form-check form-check-inline form-check-input m-0 border-3 border-primary was-checked-primary"
                                   type="checkbox">
                        </div>

                        <div class="col-2 d-flex align-items-center justify-content-center">
                            <input class=" form-check form-check-inline form-check-input m-0 border-3 border-primary was-checked-primary"
                                   type="checkbox">
                        </div>
                    </div>
                </div>

                <!-- BUTTON PANEL SECTION -->
                <div class="d-flex align-items-center justify-content-center gap-3 m-4">
                    <button class="btn btn-primary btn-lg text-white" onclick="showPreferencesToast()">
                        Save Preferences
                    </button>

                    <button class="btn btn-danger btn-lg text-white"> Discard Changes </button>
                </div>

                <!-- PREFERENCE TOAST -->
                <div class="toast position-fixed bottom-0 start-50 translate-middle-x p-2 m-3 w-25 text-bg-success text-white"
                     data-bs-autohide="true" data-bs-delay="2000" id="preference-toast">
                    <div class="d-flex">
                        <div class="toast-body">
                            Successfully saved notification preferences!
                        </div>

                        <button type="button" class="btn-close btn-close-white me-2 m-auto"
                                data-bs-dismiss="toast"></button>
                    </div>
                </div>
            </div>

            <!-- TRAVEL HISTORY TAB -->
            <div class="tab-pane fade" id="travel-history-pane">
                <!-- CARD TEMPLATE -->
                <div class="card m-4 card-hover p-4 shadow mb-5">
                    <div class="row">
                        <div class="col-9">
                            <!-- FLIGHT ID AND FLIGHT STATUS -->
                            <div class="d-flex align-items-center m-0">
                                <h2 class="mb-0 me-2"> FID 1234 </h2>
                                <span class="badge p-2 fs-6 rounded-pill text-bg-danger text-white"> Cancelled </span>
                            </div>

                            <!-- FLIGHT TYPE AND RESERVATION PASSENGERS -->
                            <div class="d-flex align-items-center m-0">
                                <h4 class="m-0 p-0"> One-Way Trip </h4>
                                <i class="bi bi-dot m-0 p-0 display-6"></i>
                                <h4 class="m-0 p-0"> 1 PAX </h4>
                            </div>

                            <hr>

                            <!-- FLIGHT DEPARTURE DETAILS -->
                            <div class="row">
                                <div class="col-6">
                                    <div class="d-flex align-items-center m-0 p-0">
                                        <i class="fa-solid fa-plane-departure fa-xl"></i>
                                        <h6 class="m-2"> Departure </h6>
                                    </div>

                                    <p class="m-0 p-0 ps-3"> MNL Ninoy Aquino International Airport </p>

                                    <div class="d-flex align-items-center m-0 p-0">
                                        <p class="m-0 p-0 ps-3"> Gate 17A </p>
                                        <i class="bi bi-dot m-0 p-0"></i>
                                        <p class="m-0 p-0"> 20:30 </p>
                                    </div>

                                    <div class="d-flex align-items-center m-0 p-0">
                                        <p class="m-0 p-0 ps-3"> June 14 2026 </p>
                                        <i class="bi bi-dot m-0 p-0"></i>
                                        <p class="m-0 p-0"> 21:00 </p>
                                    </div>
                                </div>

                                <!-- FLIGHT ARRIVAL DETAILS -->
                                <div class="col-6">
                                    <div class="d-flex align-items-center m-0 p-0">
                                        <i class="fa-solid fa-plane-arrival fa-xl"></i>
                                        <h6 class="m-2"> Arrival </h6>
                                    </div>

                                    <p class="m-0 p-0 ps-3"> DPS I Gusti Ngurah Rai International Airport </p>
                                    <p class="m-0 p-0 ps-3"> Gate 9B </p>

                                    <div class="d-flex align-items-center m-0 p-0">
                                        <p class="m-0 p-0 ps-3"> June 15 2026 </p>
                                        <i class="bi bi-dot m-0 p-0"></i>
                                        <p class="m-0 p-0"> 03:00 </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-3 d-flex align-items-center justify-content-center">
                            <div class="d-flex flex-column gap-2 align-items-center w-100">
                                <button class="btn btn-primary btn-lg text-white" data-bs-toggle="modal"
                                        data-bs-target="#reservation-details"> Reservation Details </button>

                                <button class="btn btn-secondary btn-lg text-white" data-bs-toggle="modal"
                                        data-bs-target="#passenger-details"> Passenger Details </button>
                            </div>
                        </div>
                    </div>
                </div>

                <nav class="d-flex justify-content-center">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link disabled">
                                <span aria-hidden="true">
                                    < </span>
                            </a>
                        </li>

                        <li class="page-item"><a class="page-link active"> 1 </a></li>
                        <li class="page-item"><a class="page-link"> ... </a></li>
                        <li class="page-item"><a class="page-link"> 10 </a></li>

                        <li class="page-item">
                            <a class="page-link">
                                <span aria-hidden="true"> > </span>
                            </a>
                        </li>
                    </ul>
                </nav>

                <!-- RESERVATION DETAILS MODAL -->
                <div class="modal fade" id="reservation-details" data-bs-backdrop="static">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5"> FID 1234 Reservation Details </h1>
                            </div>

                            <div class="modal-body">
                                ...
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-tertiary text-white" data-bs-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- PASSENGER DETAILS MODAL -->
                <div class="modal fade" id="passenger-details" data-bs-backdrop="static">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5"> FID 1234 Passenger Details </h1>
                            </div>

                            <div class="modal-body">
                                ...
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-tertiary text-white" data-bs-dismiss="modal">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="pt-4 pb-2 mt-5 text-center bg-dark mt-auto">
        <p class="text-light">
            &copy; [BRAND] 2026 <br>
            CCDEVAP MCO
        </p>
    </footer>
</body>

</html>

<!--  -->