<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Christian Dominic A. Cotoco">
    <meta charset="UTF-8">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"
            defer></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@4.0.0/dist/jquery.min.js"
            integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous" defer></script>
    <script src="/scripts/user/search.js" defer></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
          integrity="sha384-CK2SzKma4jA5H/MXDUU7i1TqZlCFaD4T01vtyDFvPlD97JQyS+IsSh1nI2EFbpyk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@7.2.0/css/all.min.css"
          integrity="sha384-EXatlQyrOJgDaM9/a74ArMzy7/2bTMSrZj8ID1IPeVmc3GncfCugefCFWSLj8JL/" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/override.css">
    <link rel="stylesheet" href="/styles/additional.css">

    <link rel="shortcut icon" href="/media/company-logo.png" type="image/x-icon">
    <title> Cebu Atlantic </title>
</head>

<body class="d-flex flex-column min-vh-100 bg-light user-select-none">
    <!-- NAVIGATION BAR -->
    <nav class="navbar navbar-expand-lg navbar-dark sticky-top ps-5 pe-5 pt-3 pb-3 mb-4 bg-dark">
        <div class="mb-0">
            <a class="navbar-brand text-white" href="/index.html">
                <img class="d-inline-block align-items-center mb-2" width="40px" src="/media/company-logo.png">
            </a>
        </div>

        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#main-menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="main-menu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item me-3">
                    <a class="nav-link fw-bold" href="/index.html"> Home </a>
                </li>

                <li class="nav-item me-3 ps-3 ps-sm-3 ps-md-3 ps-lg-0 text-bg-primary-accent rounded-3">
                    <a class="nav-link fw-bold text-light"> Search A Flight </a>
                </li>

                <li class="nav-item me-3">
                    <a class="nav-link fw-bold" href="/views/user/booking.html"> Reserve A Flight </a>
                </li>

                <li class="nav-item me-3">
                    <a class="nav-link fw-bold" href="/views/user/reservations.html"> My Reservations </a>
                </li>

                <li class="nav-item dropstart me-3">
                    <a class="nav-link dropdown-toggle fw-bold" data-bs-toggle="dropdown">
                        Profile
                    </a>

                    <ul class="dropdown-menu mb-3 bg-dark-subtle">
                        <li><a class="dropdown-item" href="/views/user/profile.html"> My Profile </a></li>
                        <li><a class="dropdown-item" href="###"> Log Out </a></li>
                    </ul>
                </li>

                <li class="nav-item dropstart">
                    <a class="nav-link dropdown-toggle fw-bold" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Admin Access
                    </a>

                    <ul class="dropdown-menu mb-3 bg-dark-subtle">
                        <li>
                            <a class="dropdown-item" href="/views/admin/admin-dashboard.html"> Admin Dashboard </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="/views/admin/admin-flights.html"> Flight Management </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="/views/admin/admin-reservations.html">
                                Reservation Management
                            </a>
                        </li>

                        <li>
                            <a class="dropdown-item" href="/views/admin/admin-users.html"> User Management </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5 mb-5">
        <div class="card d-flex">
            <div class="card-header text-center text-white bg-primary-accent">
                <h2 class="mt-2"> Flight Search </h2>
            </div>

            <div class="card-body">
                <div class="mx-4 mt-2">
                    <h4 class="text-primary-accent"> Flight Route </h4>

                    <div class="row">
                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-text bg-dark border-dark">
                                    <i class="text-secondary bi bi-pen-fill"></i></i>
                                </div>

                                <select class="form-select bg-light border-dark border-2 rounded-end-3 text-black"
                                        id="suffix-select">
                                    <option selected hidden value=""> Select A Departure Airport </option>
                                    <option> Airport A </option>
                                    <option> Airport B </option>
                                    <option> Airport C </option>
                                    <option> Airport D </option>
                                    <option> Airport E </option>
                                </select>
                            </div>
                        </div>

                        <div class="col">
                            <div class="input-group">
                                <div class="input-group-text bg-dark border-dark">
                                    <i class="text-secondary bi bi-pen-fill"></i></i>
                                </div>

                                <select class="form-select bg-light border-dark border-2 rounded-end-3 text-black"
                                        id="suffix-select">
                                    <option selected hidden value=""> Select An Arrival Airport </option>
                                    <option> Airport A </option>
                                    <option> Airport B </option>
                                    <option> Airport C </option>
                                    <option> Airport D </option>
                                    <option> Airport E </option>
                                </select>
                            </div>
                        </div>

                        <div class="col">
                            <div class="btn-group w-100">
                                <input type="radio" class="btn-check" name="trip-type" id="one-way">
                                <label class="btn btn-primary text-white" for="one-way"> One-Way Flight </label>

                                <input type="radio" class="btn-check" name="trip-type" id="round-trip">
                                <label class="btn btn-primary text-white" for="round-trip"> Round-Trip Flight </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mx-4 mt-2">
                    <div class="row">
                        <div class="col">
                            <h4 class="text-primary-accent"> Departure Date </h4>

                            <div class="input-group">
                                <div class="input-group-text bg-dark border-dark">
                                    <!-- ICON -->
                                </div>

                                <input class="form-control rounded-end-3 bg-light border-dark border-2 text-black"
                                       type="date" id="date-input">
                            </div>
                        </div>

                        <div class="col">
                            <h4 class="text-primary-accent"> Return Date </h4>

                            <div class="input-group">
                                <div class="input-group-text bg-dark border-dark">
                                    <!-- ICON -->
                                </div>

                                <input class="form-control rounded-end-3 bg-light border-dark border-2 text-black"
                                       type="date" id="date-input">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mx-4 mt-2">
                    <div class="row">
                        <div class="col">
                            <h4 class="text-primary-accent"> Passengers </h4>

                            <div class="row">
                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-text bg-dark border-dark">
                                            <i class="text-secondary bi bi-pen-fill"></i></i>
                                        </div>

                                        <select class="form-select bg-light border-dark border-2 rounded-end-3 text-black"
                                                id="suffix-select">
                                            <option selected hidden value=""> Select Number of Adults </option>
                                            <option> 1 Adult </option>
                                            <option> 2 Adults </option>
                                            <option> 3 Adults </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-text bg-dark border-dark">
                                            <i class="text-secondary bi bi-pen-fill"></i></i>
                                        </div>

                                        <select class="form-select bg-light border-dark border-2 rounded-end-3 text-black"
                                                id="suffix-select">
                                            <option selected hidden value=""> Select Number of Children </option>
                                            <option> No Children </option>
                                            <option> 1 Child </option>
                                            <option> 2 Children </option>
                                            <option> 3 Children </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="input-group">
                                        <div class="input-group-text bg-dark border-dark">
                                            <i class="text-secondary bi bi-pen-fill"></i></i>
                                        </div>

                                        <select class="form-select bg-light border-dark border-2 rounded-end-3 text-black"
                                                id="suffix-select">
                                            <option selected hidden value=""> Select Number of Infants </option>
                                            <option> No Infants </option>
                                            <option> 1 Infant </option>
                                            <option> 2 Infants </option>
                                            <option> 3 Infants </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <h4 class="text-primary-accent"> Cabin Class </h4>

                            <div class="input-group">
                                <div class="input-group-text bg-dark border-dark">
                                    <i class="text-secondary bi bi-pen-fill"></i></i>
                                </div>

                                <select class="form-select bg-light border-dark border-2 rounded-end-3 text-black"
                                        id="suffix-select">
                                    <option selected hidden value=""> Select A Cabin Class </option>
                                    <option> Economy </option>
                                    <option> Premium Economy </option>
                                    <option> Business </option>
                                    <option> First Class </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="mt-2">
                <div class="accordion" id="advanced-search-options">
                    <div class="accordion-item shadow">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#search-options">
                                Advanced Search Options
                            </button>
                        </h2>

                        <div id="search-options" class="accordion-collapse collapse"
                             data-bs-parent="#advanced-search-options">

                            <div class="mx-4 mt-2">
                                <div class="row">
                                    <div class="col">
                                        <h4 class="text-primary-accent"> Preferred Airline </h4>

                                        <div class="input-group">
                                            <div class="input-group-text bg-dark border-dark">
                                                <i class="text-secondary bi bi-pen-fill"></i></i>
                                            </div>

                                            <select class="form-select bg-light border-dark border-2 rounded-end-3 text-black"
                                                    id="suffix-select">
                                                <option selected hidden value="">
                                                    Select A Preferred Airline
                                                </option>

                                                <option> Cebu Atlantic </option>
                                                <option> Filipino Airlines </option>
                                                <option> AirFAST </option>
                                                <option> Sunray Air </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col">
                                        <h4 class="text-primary-accent"> Preferred Price Range </h4>

                                        <div class="d-flex align-items-center gap-3">
                                            <!-- Min price box -->
                                            <div class="input-group input-group-sm" style="width: 100px;">
                                                <span class="input-group-text"> PHP </span>
                                                <input type="number" class="form-control" id="minPriceInput" value="200"
                                                       readonly>
                                            </div>

                                            <!-- The Slider Wrapper -->
                                            <div class="position-relative flex-grow-1" style="height: 24px;">
                                                <input type="range"
                                                       class="form-range position-absolute top-0 start-0 w-100"
                                                       id="minPrice" min="0" max="1000" step="10" value="200">
                                                <input type="range"
                                                       class="form-range position-absolute top-0 start-0 w-100"
                                                       id="maxPrice" min="0" max="1000" step="10" value="800">
                                            </div>

                                            <!-- Max price box -->
                                            <div class="input-group input-group-sm" style="width: 100px;">
                                                <span class="input-group-text"> PHP </span>
                                                <input type="number" class="form-control" id="maxPriceInput" value="800"
                                                       readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mx-4 mt-2">
                                <div class="row">
                                    <div class="col">
                                        <h4 class="text-primary-accent"> Additional Options </h4>

                                        <div class="btn-group w-100">
                                            <input type="checkbox" class="btn-check" name="additional-option"
                                                   id="direct-flights">
                                            <label class="btn btn-lg btn-outline-primary" for="direct-flights">
                                                Direct Flights Only
                                            </label>

                                            <input type="checkbox" class="btn-check" name="additional-option"
                                                   id="flexible-dates">
                                            <label class="btn btn-lg btn-outline-primary" for="flexible-dates">
                                                Flexible Dates
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer bg-primary-accent">
                <div class="d-flex justify-content-center m-3">
                    <button class="btn btn-lg btn-primary text-white">
                        Search Flights
                    </button>
                </div>
            </div>
        </div>

        <div class="card d-flex mt-4">
            <div class="card-header text-center text-white bg-primary-accent">
                <div class="row">
                    <div class="col">
                        <div class="dropdown">
                            <button class="btn btn-primary btn-lg text-white dropdown-toggle w-100" type="button"
                                    data-bs-toggle="dropdown">
                                Sort By
                                <span id="sort-type"> User ID (1-9) </span>
                            </button>

                            <ul class="dropdown-menu dropdown-center bg-dark-subtle" id="sort-dropdown">
                                <li>
                                    <h4 class="dropdown-header"> Sort By </h4>
                                </li>

                                <li class="dropdown-divider"></li>

                                <li value="User ID (1-9)">
                                    <a class="dropdown-item text-dark active">
                                        <i class="fa-solid fa-arrow-down-1-9"></i> Price
                                    </a>
                                </li>

                                <li value="User ID (9-1)">
                                    <a class="dropdown-item text-dark">
                                        <i class="fa-solid fa-arrow-down-9-1"></i> Price
                                    </a>
                                </li>

                                <li class="dropdown-divider"></li>

                                <li value="Last Name (A-Z)">
                                    <a class="dropdown-item text-dark">
                                        <i class="fa-solid fa-arrow-down-a-z"></i> Departure Time
                                    </a>
                                </li>

                                <li value="Last Name (Z-A)">
                                    <a class="dropdown-item text-dark">
                                        <i class="fa-solid fa-arrow-down-z-a"></i> Departure Time
                                    </a>
                                </li>

                                <li class="dropdown-divider"></li>

                                <li value="Saved Pax (1-9)">
                                    <a class="dropdown-item text-dark">
                                        <i class="fa-solid fa-arrow-down-1-9"></i> Duration
                                    </a>
                                </li>

                                <li value="Saved Pax (9-1)">
                                    <a class="dropdown-item text-dark">
                                        <i class="fa-solid fa-arrow-down-9-1"></i> Duration
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col">
                        <div class="dropdown">
                            <button class="btn btn-primary btn-lg text-white dropdown-toggle w-100" type="button"
                                    data-bs-toggle="dropdown">
                                Filter By
                                <span id="filter-type"> Admins </span>
                            </button>

                            <ul class="dropdown-menu dropdown-center bg-dark-subtle" id="filter-dropdown">
                                <li>
                                    <h4 class="dropdown-header"> Filter By </h4>
                                </li>

                                <li class="dropdown-divider"></li>

                                <li>
                                    <h6 class="dropdown-header"> Airlines </h6>
                                </li>

                                <li value="Admins">
                                    <a class="dropdown-item text-dark active">
                                        <i class="fa-solid fa-user-gear"></i> Cebu Atlantic
                                    </a>
                                </li>

                                <li value="Staff">
                                    <a class="dropdown-item text-dark">
                                        <i class="fa-solid fa-users"></i> Filipino Airlines
                                    </a>
                                </li>

                                <li value="Agents">
                                    <a class="dropdown-item text-dark">
                                        <i class="fa-solid fa-user-pen"></i> AirFAST
                                    </a>
                                </li>

                                <li value="Customers">
                                    <a class="dropdown-item text-dark">
                                        <i class="fa-solid fa-user"></i> Sunray Air
                                    </a>
                                </li>

                                <li class="dropdown-divider"></li>

                                <li>
                                    <h6 class="dropdown-header"> Price Ranges </h6>
                                </li>

                                <li value="Unverified Users">
                                    <a class="dropdown-item text-dark">
                                        <i class="bi bi-question-circle-fill"></i> PHP 1,000 - 25,000
                                    </a>
                                </li>

                                <li value="Active Users">
                                    <a class="dropdown-item text-dark">
                                        <i class="bi bi-check-circle-fill"></i> PHP 25,001 - 50,000
                                    </a>
                                </li>

                                <li value="Inactive Users">
                                    <a class="dropdown-item text-dark">
                                        <i class="bi bi-x-circle-fill"></i> PHP 50,001 - 75,000
                                    </a>
                                </li>

                                <li value="Suspended Users">
                                    <a class="dropdown-item text-dark">
                                        <i class="bi bi-exclamation-circle-fill"></i> PHP 75,001 - 100,000
                                    </a>
                                </li>

                                <li class="dropdown-divider"></li>

                                <li>
                                    <h6 class="dropdown-header"> Stops </h6>
                                </li>

                                <li value="Suspended Users">
                                    <a class="dropdown-item text-dark">
                                        <i class="bi bi-exclamation-circle-fill"></i> 1 Stop
                                    </a>
                                </li>

                                <li value="Suspended Users">
                                    <a class="dropdown-item text-dark">
                                        <i class="bi bi-exclamation-circle-fill"></i> 2 Stops
                                    </a>
                                </li>

                                <li value="Suspended Users">
                                    <a class="dropdown-item text-dark">
                                        <i class="bi bi-exclamation-circle-fill"></i> 3 Stops
                                    </a>
                                </li>

                                <li value="Suspended Users">
                                    <a class="dropdown-item text-dark">
                                        <i class="bi bi-exclamation-circle-fill"></i> 4 Stops
                                    </a>
                                </li>

                                <li value="Suspended Users">
                                    <a class="dropdown-item text-dark">
                                        <i class="bi bi-exclamation-circle-fill"></i> 5 Stops
                                    </a>
                                </li>

                                <li class="dropdown-divider"></li>

                                <li>
                                    <h6 class="dropdown-header"> Departure Time </h6>
                                </li>

                                <li value="Suspended Users">
                                    <a class="dropdown-item text-dark">
                                        <i class="bi bi-exclamation-circle-fill"></i> 00:00 to 06:00
                                    </a>
                                </li>

                                <li value="Suspended Users">
                                    <a class="dropdown-item text-dark">
                                        <i class="bi bi-exclamation-circle-fill"></i> 06:01 to 12:00
                                    </a>
                                </li>

                                <li value="Suspended Users">
                                    <a class="dropdown-item text-dark">
                                        <i class="bi bi-exclamation-circle-fill"></i> 12:01 to 18:00
                                    </a>
                                </li>

                                <li value="Suspended Users">
                                    <a class="dropdown-item text-dark">
                                        <i class="bi bi-exclamation-circle-fill"></i> 18:01 to 23:59
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-3">
                        <div class="card card-hover mb-3 border-warning">
                            <h5 class="fw-bold">Cebu Atlantic</h5>
                            <img src="/media/company-logo.png" class="img-thumbnail square-100px bg-dark"
                                 alt="Cebu Atlantic Logo">
                            <h5>Flight Number:</h5>
                            <h5 class="fw-bold">CAL110</h5>
                            <h5>Departure & Arrival:</h5>
                            <h5 class="fw-bold">1000 AM - 1230 PM</h5>
                            <h5>Flight Duration:</h5>
                            <h5 class="fw-bold">2 HRS 30 MINS</h5>
                            <h5># Of Layovers:</h5>
                            <h5 class="fw-bold">0</h5>
                            <h5>Ticket Price:</h5>
                            <h5 class="fw-bold">P25000</h5>
                            <h5>Remaining Seats:</h5>
                            <h5 class="fw-bold">20</h5>
                            <button type="submit" class="btn btn-outline-warning btn-lg mb-2">Book</button>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card mb-3 border-warning">
                            <h5 class="fw-bold">Cebu Atlantic</h5>
                            <img src="/media/company-logo.png" class="img-thumbnail square-100px bg-dark"
                                 alt="Cebu Atlantic Logo">
                            <h5>Flight Number:</h5>
                            <h5 class="fw-bold">CAL115</h5>
                            <h5>Departure & Arrival:</h5>
                            <h5 class="fw-bold">1000 AM - 1230 PM</h5>
                            <h5>Flight Duration:</h5>
                            <h5 class="fw-bold">2 HRS 30 MINS</h5>
                            <h5># Of Layovers:</h5>
                            <h5 class="fw-bold">0</h5>
                            <h5>Ticket Price:</h5>
                            <h5 class="fw-bold">P25000</h5>
                            <h5>Remaining Seats:</h5>
                            <h5 class="fw-bold">10</h5>
                            <button type="submit" class="btn btn-outline-warning btn-lg mb-2">Book</button>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card mb-3 border-warning">
                            <h5 class="fw-bold">Gas Asia</h5>
                            <img src="/media/company-logo.png" class="img-thumbnail square-100px bg-dark"
                                 alt="Gas Asia Logo">
                            <h5>Flight Number:</h5>
                            <h5 class="fw-bold">GAS120</h5>
                            <h5>Departure & Arrival:</h5>
                            <h5 class="fw-bold">1000 AM - 2000 PM</h5>
                            <h5>Flight Duration:</h5>
                            <h5 class="fw-bold">12 HRS</h5>
                            <h5># Of Layovers:</h5>
                            <h5 class="fw-bold">2</h5>
                            <h5>Ticket Price:</h5>
                            <h5 class="fw-bold">P50000</h5>
                            <h5>Remaining Seats:</h5>
                            <h5 class="fw-bold">24</h5>
                            <button type="submit" class="btn btn-outline-warning btn-lg mb-2">Book</button>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card mb-3 border-warning">
                            <h5 class="fw-bold">Gas Asia</h5>
                            <img src="/media/company-logo.png" class="img-thumbnail square-100px bg-dark"
                                 alt="Gas Asia Logo">
                            <h5>Flight Number:</h5>
                            <h5 class="fw-bold">GAS142</h5>
                            <h5>Departure & Arrival:</h5>
                            <h5 class="fw-bold">0800 AM - 0800 PM</h5>
                            <h5>Flight Duration:</h5>
                            <h5 class="fw-bold">12 HRS</h5>
                            <h5># Of Layovers:</h5>
                            <h5 class="fw-bold">2</h5>
                            <h5>Ticket Price:</h5>
                            <h5 class="fw-bold">P50000</h5>
                            <h5>Remaining Seats:</h5>
                            <h5 class="fw-bold">05</h5>
                            <button type="submit" class="btn btn-outline-warning btn-lg mb-2">Book</button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <div class="card mb-3 border-warning">
                            <h5 class="fw-bold">Operation Philippines</h5>
                            <img src="/media/company-logo.png" class="img-thumbnail" alt="Operation Philippines Logo">
                            <h5>Flight Number:</h5>
                            <h5 class="fw-bold">OPP105</h5>
                            <h5>Departure & Arrival:</h5>
                            <h5 class="fw-bold">0900 AM - 1400 PM</h5>
                            <h5>Flight Duration:</h5>
                            <h5 class="fw-bold">5 HRS</h5>
                            <h5># Of Layovers:</h5>
                            <h5 class="fw-bold">0</h5>
                            <h5>Ticket Price:</h5>
                            <h5 class="fw-bold">20000</h5>
                            <h5>Remaining Seats:</h5>
                            <h5 class="fw-bold">13</h5>
                            <button type="submit" class="btn btn-outline-warning btn-lg mb-2">Book</button>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card mb-3 border-warning">
                            <h5 class="fw-bold">Operation Philippines</h5>
                            <img src="/media/company-logo.png" class="img-thumbnail" alt="Operation Philippines Logo">
                            <h5>Flight Number:</h5>
                            <h5 class="fw-bold">OPP124</h5>
                            <h5>Departure & Arrival:</h5>
                            <h5 class="fw-bold">1100 AM - 1300 PM</h5>
                            <h5>Flight Duration:</h5>
                            <h5 class="fw-bold">2 HRS</h5>
                            <h5># Of Layovers:</h5>
                            <h5 class="fw-bold">0</h5>
                            <h5>Ticket Price:</h5>
                            <h5 class="fw-bold">P10000</h5>
                            <h5>Remaining Seats:</h5>
                            <h5 class="fw-bold">09</h5>
                            <button type="submit" class="btn btn-outline-warning btn-lg mb-2">Book</button>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card mb-3 border-warning">
                            <h5 class="fw-bold">Spirit Airlines</h5>
                            <img src="/media/company-logo.png" class="img-thumbnail" alt="Spirit Airlines Logo">
                            <h5>Flight Number:</h5>
                            <h5 class="fw-bold">SAI101</h5>
                            <h5>Departure & Arrival:</h5>
                            <h5 class="fw-bold">0700 AM - 2200 PM</h5>
                            <h5>Flight Duration:</h5>
                            <h5 class="fw-bold">15 HRS</h5>
                            <h5># Of Layovers:</h5>
                            <h5 class="fw-bold">3</h5>
                            <h5>Ticket Price:</h5>
                            <h5 class="fw-bold">P40000</h5>
                            <h5>Remaining Seats:</h5>
                            <h5 class="fw-bold">40</h5>
                            <button type="submit" class="btn btn-outline-warning btn-lg mb-2">Book</button>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="card mb-3 border-warning">
                            <h5 class="fw-bold">Spirit Airlines</h5>
                            <img src="/media/company-logo.png" class="img-thumbnail" alt="Spirit Airlines Logo">
                            <h5>Flight Number:</h5>
                            <h5 class="fw-bold">SAI101</h5>
                            <h5>Departure & Arrival:</h5>
                            <h5 class="fw-bold">0700 AM - 2200 PM</h5>
                            <h5>Flight Duration:</h5>
                            <h5 class="fw-bold">15 HRS</h5>
                            <h5># Of Layovers:</h5>
                            <h5 class="fw-bold">3</h5>
                            <h5>Ticket Price:</h5>
                            <h5 class="fw-bold">P40000</h5>
                            <h5>Remaining Seats:</h5>
                            <h5 class="fw-bold">50</h5>
                            <button type="submit" class="btn btn-outline-warning btn-lg mb-2">Book</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card-footer bg-primary-accent">
                <div class="d-flex justify-content-between align-items-center flex-wrap gap-3 m-3">
                    <h6 class="text-white">
                        Showing 10 Results Out Of 100,000
                    </h6>

                    <div class="d-flex justify-content-center align-items-center flex-wrap gap-3">
                        <!-- PAGINATION -->
                        <nav>
                            <ul class="pagination m-0">
                                <li class="page-item">
                                    <a class="page-link disabled">
                                        <span aria-hidden="true">
                                            < </span>
                                    </a>
                                </li>

                                <li class="page-item"><a class="page-link active"> 1 </a></li>
                                <li class="page-item"><a class="page-link"> ... </a></li>
                                <li class="page-item"><a class="page-link"> 10 </a></li>

                                <li class="page-item">
                                    <a class="page-link">
                                        <span aria-hidden="true"> > </span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="pt-4 pb-2 mt-5 mt-auto text-center bg-dark">
        <p class="text-light">
            &copy; [BRAND] 2026 <br>
            CCDEVAP MCO
        </p>
    </footer>
</body>

</html>