<li class="nav-item dropstart">
                <a class="nav-link dropdown-toggle fw-bold" data-bs-toggle="dropdown">
                    Admin Access
                </a>
                <ul class="dropdown-menu mb-3 bg-dark-subtle">
                    <li>
                        <a class="dropdown-item" href="./views/old/admin/admin-dashboard.html"> Admin Dashboard </a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="./views/old/admin/admin-flights.html"> Flight Management </a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="./views/old/admin/admin-reservations.html">
                            Reservation Management
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="./views/old/admin/admin-users.html"> User Management </a>
                    </li>

                    <li><a class="dropdown-item" href="./views/login.html"> Log Out </a></li>
                </ul>
            </li>