/* TABLE STYLES */
tbody > tr > th,
tbody > tr > td {
    color: var(--bs-dark) !important;
}

tbody > tr:hover > td,
tbody > tr:hover > th {
    background: var(--bs-light);
    color: var(--bs-primary) !important;
}

tbody > tr:hover > td > button.btn-success {
    border-color: var(--bs-white);
    background: var(--bs-white);
    color: var(--bs-success) !important;
}

tbody > tr:hover > td > button.btn-success:hover {
    border-color: var(--bs-success);
    background: var(--bs-success);
    color: var(--bs-white) !important;
}

tbody > tr:hover > td > button.btn-warning {
    border-color: var(--bs-white);
    background: var(--bs-white);
    color: var(--bs-warning) !important;
}

tbody > tr:hover > td > button.btn-warning:hover {
    border-color: var(--bs-warning);
    background: var(--bs-warning);
    color: var(--bs-white) !important;
}

tbody > tr:hover > td > button.btn-danger {
    border-color: var(--bs-white);
    background: var(--bs-white);
    color: var(--bs-danger) !important;
}

tbody > tr:hover > td > button.btn-danger:hover {
    border-color: var(--bs-danger);
    background: var(--bs-danger);
    color: var(--bs-white) !important;
}

/* FORM STYLES */
.was-checked-primary:checked {
    background-color: var(--bs-primary);
}

.form-floating {
    zoom: 75%;
}

/* NAVIGATION TAB STYLES */
.nav-tabs .nav-link.active {
    border-color: var(--bs-primary-accent);
    background-color: var(--bs-primary-accent);
    color: var(--bs-white);
}

.nav-tabs .nav-link {
    border-color: var(--bs-white);
    background-color: var(--bs-white);
    color: var(--bs-black);
}

.nav-tabs .nav-link:hover {
    border-color: var(--bs-tertiary-accent);
    background-color: var(--bs-tertiary-accent);
    color: var(--bs-white);
}

/* PAGINATION STYLES */
.page-link {
    border-color: var(--bs-light);
    background-color: var(--bs-light);
    color: var(--bs-black);
}

.page-link.active {
    border-color: var(--bs-primary);
    background-color: var(--bs-primary);
    color: var(--bs-white);
}

.page-link:hover,
.page-link.active:hover {
    border-color: var(--bs-tertiary);
    background-color: var(--bs-tertiary);
    color: var(--bs-white);
}

.page-link.disabled {
    border-color: var(--bs-dark);
    background-color: var(--bs-dark);
    color: var(--bs-white);
}

/* LAYOUT STYLES */
.z-max {
    z-index: 9999;
}

/* CUSTOM STYLES */
.card-hover {
    transition: transform 0.3s ease-in-out;
}

.card-hover:hover {
    transform: scale(1.05);
}

.card-hover-lg {
    transition: transform 0.3s ease-in-out;
}

.card-hover-lg:hover {
    transform: scale(1.02);
}

.card-hover-xl {
    transition: transform 0.3s ease-in-out;
}

.card-hover-xl:hover {
    transform: scale(1.015);
}

#filter-dropdown .active {
    background-color: var(--bs-tertiary-accent);
    color: var(--bs-light) !important;
}

#sort-dropdown .active {
    background-color: var(--bs-tertiary-accent);
    color: var(--bs-light) !important;
}

.list-group-item:hover {
    background: var(--bs-light);
    color: var(--bs-primary) !important;
}

/* NEW */
.h-30px {
    height: 30px;
}

.square-100px {
    height: 100px;
    width: 100px;
}

.square-40px {
    height: 40px;
    width: 40px;
}

.btn-check:checked + .btn {
    color: var(--bs-white) !important;
}

.bg-green {
    background-color: var(--bs-green);
}

.seat {
    color: var(--bs-white);
    height: 30px;
    width: 30px;
    transition: transform 0.3s ease-in-out;
}

.seat:hover {
    transform: scale(1.25);
}

.available {
    border: 3px solid var(--bs-success);
}

.occupied {
    border: 3px solid var(--bs-danger);
}

.first-class {
    background-color: var(--bs-primary-accent);
}

.premium {
    background-color: var(--bs-secondary-accent);
}

.selected {
    border: 3px solid var(--bs-warning);
}

.economy {
    background-color: var(--bs-tertiary-accent);
}

input[type="range"].form-range {
    pointer-events: none;
    background: transparent;
}

input[type="range"].form-range::-webkit-slider-thumb {
    pointer-events: auto;
}

input[type="range"].form-range::-moz-range-thumb {
    pointer-events: auto;
}

#maxPrice::-webkit-slider-runnable-track {
    background: transparent;
    background-color: transparent;
}

@media (min-width: 768px) {
    .rounded-end-md-2 {
        border-top-right-radius: var(--bs-border-radius) !important;
        border-bottom-right-radius: var(--bs-border-radius) !important;
    }

    .rounded-end-md-0 {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    .rounded-start-md-2 {
        border-top-left-radius: var(--bs-border-radius) !important;
        border-bottom-left-radius: var(--bs-border-radius) !important;
    }

    .rounded-start-md-0 {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    .border-start-md-0 {
        border-left: 0 !important;
    }
}

@media (min-width: 992px) {
    .rounded-end-lg-0 {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    .rounded-start-lg-0 {
        border-top-left-radius: 0 !important;
        border-bottom-left-radius: 0 !important;
    }

    .border-start-lg-0 {
        border-left: 0 !important;
    }
}