/* Global */
* {
    user-select: none;
}

/* TABLE STYLES */
tbody > tr > th,
tbody > tr > td {
    color: var(--bs-dark) !important;
}

tbody > tr:hover > td,
tbody > tr:hover > th {
    color: var(--bs-primary) !important;
    background: var(--bs-light);
}

tbody > tr:hover > td > button.btn-success {
    color: var(--bs-success) !important;
    background: var(--bs-white);
    border-color: var(--bs-white);
}

tbody > tr:hover > td > button.btn-success:hover {
    color: var(--bs-white) !important;
    background: var(--bs-success);
    border-color: var(--bs-success);
}

tbody > tr:hover > td > button.btn-warning {
    color: var(--bs-warning) !important;
    background: var(--bs-white);
    border-color: var(--bs-white);
}

tbody > tr:hover > td > button.btn-warning:hover {
    color: var(--bs-white) !important;
    background: var(--bs-warning);
    border-color: var(--bs-warning);
}

tbody > tr:hover > td > button.btn-danger {
    color: var(--bs-danger) !important;
    background: var(--bs-white);
    border-color: var(--bs-white);
}

tbody > tr:hover > td > button.btn-danger:hover {
    color: var(--bs-white) !important;
    background: var(--bs-danger);
    border-color: var(--bs-danger);
}

/* FORM STYLES */
.was-checked-primary:checked {
    background-color: var(--bs-primary);
}

.form-floating {
    zoom: 75%;
}

/* NAVIGATION TAB STYLES */
.nav-tabs .nav-link.active {
    background-color: var(--bs-primary-accent);
    border-color: var(--bs-primary-accent);
    color: var(--bs-white);
}

.nav-tabs .nav-link {
    background-color: var(--bs-white);
    border-color: var(--bs-white);
    color: var(--bs-black);
}

.nav-tabs .nav-link:hover {
    background-color: var(--bs-tertiary-accent);
    border-color: var(--bs-tertiary-accent);
    color: var(--bs-white);
}

/* PAGINATION STYLES */
.page-link {
    background-color: var(--bs-light);
    border-color: var(--bs-light);
    color: var(--bs-black);
}

.page-link.active {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    color: var(--bs-white);
}

.page-link:hover,
.page-link.active:hover {
    background-color: var(--bs-tertiary);
    border-color: var(--bs-tertiary);
    color: var(--bs-white);
}

.page-link.disabled {
    background-color: var(--bs-dark);
    border-color: var(--bs-dark);
    color: var(--bs-white);
}

/* CUSTOM STYLES */
.card-hover {
    transition: transform 0.3s ease-in-out;
}

.card-hover:hover {
    transform: scale(1.05);
}

#filter-dropdown .active {
    background-color: black;
}

#sort-dropdown .active {
    background-color: black;
}

/* NEW */
.z-max {
    z-index: 9999;
}